#score {
  width: 100vw;
  padding: 1rem 3rem;
  background-color: black;
  color: white;
}
#score span {
  font-size: 1.8rem;
}
#score .inline {
  gap: 2rem;
}

#jogador {
  color: white;
  background-color: black;
  padding: 0.5rem;
  width: 3rem;
  height: 40rem;
}

input {
  background: none;
  border: none;
  height: 10rem;
  font-size: 4rem;
  color: black;
}

input:disabled {
  color: black;
}

.bottom {
  border-bottom: 3px solid black;
}

.right {
  border-right: 3px solid black;
}

.wrapper {
  width: 35.5rem;
  margin: 0 auto;
}

.interface {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
}

/* Ganhador */

.display-none {
  display: none;
}
.ganhador {
  position: fixed;
  top: -1%;
  left: -1%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: 0;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b3e192;
  border: 1px solid black;
  border-radius: 2rem;
  height: 0rem;
  width: 0rem;

  transition: all 2s ease;
}
.active {
  top: 50%;
  left: 50%;
  height: 35rem;
  width: 35rem;
  opacity: 1;
  visibility: 1;
}
#css-transition-win {
  opacity: 0;
  visibility: 0;
  transition: all 2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#css-transition-win.active {
  opacity: 1;
  visibility: 1;
}


