* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

h1 {
  font-size: 2.6rem;
  padding: 1rem;
  text-align: center;
}

h2 {
  font-size: 2.2rem;
  text-align: center;
  padding: 1rem;
}

h3 {
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}
p {
  font-size: 1.8rem;
  padding: 1rem;
}
input {
  padding: 0.5rem;
  border: none;
}

.wrapper {
  width: 35.5rem;
  margin: 0 auto;
}

.center {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.button {
  width: 70%;
  font-size: 1.8rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #000;
  color: white;
  cursor: pointer;
  margin: 2rem auto;
}

.inline {
  display: flex;
  margin-block: 0.2rem;
}

.verticalLine {
  width: 2px;
  background-color: white;
}
